<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
     <%@commande.price= 10%>
<br><br><br>
<div class="container text-center">
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
         <a class="btn btn-warning " href="https://cyrilfert.typeform.com/to/OvACRl?commande=<%=@commande.id%>&prix=<%=@commande.price%>" data-upgraded=",MaterialButton,MaterialRipple">Buy <%=@commande.price%>€</a>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
          <a class="btn btn-warning " href="https://cyrilfert.typeform.com/to/OvACRl?commande=<%=@commande.id%>&prix=<%=@commande.price%>" data-upgraded=",MaterialButton,MaterialRipple">Buy <%=@commande.price%>€</a>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
          <a class="btn btn-warning " href="https://cyrilfert.typeform.com/to/OvACRl?commande=<%=@commande.id%>&prix=<%=@commande.price%>" data-upgraded=",MaterialButton,MaterialRipple">Buy <%=@commande.price%>€</a>
      </div>
    </div>
  </div>
</div>
</div>